.menumh-send-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}
.menumenh-title{
    background-color: #9cd6ff;
}
.menumh-button-aceptar{
    background-color: #28a745;
    border: solid 1px  #28a745;
}
.menumh-button-rechazar{
    background-color: red;
    border: solid 1px red;
}