.menumenh-container-parent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}
.menumenh-container{
    position: relative;
    width: max-content;
    height: max-content;
    min-width: 35vw;
    max-width: 100vw;
    margin: 1rem;
    z-index: 100;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f0f0f0;
}
.menumenh-title{
    border-radius: 10px 10px 0 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    width: 100%;
    background-color: #dff2cd;
    text-align: start;
}
.menumenh-close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;

}


.menumenh-container-info{
    width: 90%;
    max-height: 70vh;
    margin: 1rem;
    overflow-y: auto;
}

.menumenh-container-info::-webkit-scrollbar {
    width: 8px;
}

.menumenh-container-info::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.menumenh-info-comentario{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.menumenh-info-comentario textarea{
    padding: 0.25rem;
    flex: 1 1 auto;
}

.menumh-button{
    margin-top: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: black;
    color: white;
    width: max-content;
    border: 1px solid black;
}
.menumh-button:active{
    background-color: white;
    color: black;
}
.menumh-send-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .menumenh-container{
        min-width: 90vw;
    }
}