@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url(../Inter-Regular.ttf);
}

*{
  font-family: Inter;
}

.mm-container-root{
  height: 100vh;
  height: 100dvh;
}