.active{
    background: white;
    font-weight: bold;
}

.mm-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.mm-icon {
    font-size: 20px;
    min-width: 20px;
    margin-left: 0.5rem;
  }

.mm-button-text{
    margin-left: 0.75rem;
    overflow: hidden;
    word-wrap: break-word;
}

.mm-text-user{
    overflow: hidden;
    word-wrap: break-word;
}
.mm-menu.icon{
    display: none;
}
.mm-header{
    width: 100%;
    max-width: 20vw;
}


@media screen and (max-width: 1000px) {
    .mm-header{
        max-width: fit-content;
    }
    .mm-user-container,
    .mm-nav {
        max-width: fit-content;
    }
    .mm-user-container{
        padding: 0.5rem;
        display: block;

    }
    .mm-button-text{
        display: none;
    }
    .mm-text-user{
        display: none;
    }
    
    .mm-icon {
        margin: 0;
    }

}

@media screen and (max-width: 768px) {
    .mm-header{
        width: 100vw;
        max-width: none;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem 0 1rem;
    }
    .mm-user-container{
        margin: 0.75rem;
        padding: 0.25rem;
    }
    .mm-nav{
        width: 80%;
        max-width: 80%;
        height: 100vh;
        height: 100dvh;

        position: fixed;
        margin: 0;
        top: 80px;
        right: -100%;
        z-index: 10;
        justify-content: start;
        align-items: center;
        padding-top: 2rem;
        gap: 2rem;
        background-color: #f0f0f0;

        transition: all .5s;
    }
    .menu-open{
        right: 0;
    }

    .mm-button-text{
        display: block;
    }



}