
.hh-section-horario {
    margin: 1.5rem;
}


@media screen and (max-width: 768px) {
    .hh-section-horario {
        flex: 1 1 0;
        margin: 0;
        height: 100%;
    }

    .hm-title-container{
        border: 0 solid black;
    }
}