.m-mensaje{
    width: 95%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 20px;
}
.m-asignatura-container,
.m-info-container{
    width: 90%;
}

/* ASIGNATURA*/
.m-asignatura-container{
    display: flex;
    align-items: start;
    justify-content: start;
}
.m-asignatura-text{
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 1rem;
}
/*GENERAL INFO*/
.m-info-container{
}


/*CURSO*/
.m-curso{
    display: flex;
    
}

.m-curso-text{
    flex: 1 1 0;
    margin-right: 0.5rem;
}
.m-text-span{
    font-size: 0.8rem;
    font-style: italic;
    text-decoration: wavy;
}

/*GRUPOS*/
.m-grupos{
    display: flex;
    flex-direction: ROW;
    flex-wrap: wrap;
}

.m-container-grupos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.m-grupo-title{
    margin-right: 0.5rem;
}
/*ITALIC*/
.m-curso-text,
.m-grupo-title{
    font-style: italic;
}


@media screen and (max-width: 768px) {
    .m-hora{
        justify-content: start;
        align-items: start;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}