.m-mensaje{
    width: 95%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 20px;
    cursor: pointer;
}
.m-asignatura-container,
.m-info-container{
    width: 90%;
}
.m-info-container{
    display: flex;
    flex-direction: column;
}

/* ASIGNATURA*/
.m-asignatura-container{
    display: flex;
    align-items: start;
    justify-content: start;
}
.m-asignatura-text{
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 1rem;
    word-break: break-all;
}

/*CURSO*/
.m-curso{
    display: flex;
    
}

.m-curso-text{
    flex: 1 1 auto;
    margin-right: 0.5rem;
    word-break: break-all;
}
.m-text-span{
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: wavy;
    vertical-align: text-bottom;
}

/*GRUPOS*/
.m-grupos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.m-curso-text,
.m-grupo-title{
    font-style: normal;
}


@media screen and (max-width: 768px) {
    .m-hora{
        justify-content: start;
        align-items: start;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .hm-title-container{
        border: 0 solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hm-title-container>div {
        background-color: black;
        color: white;
    }
    .last-day-horario-head .m-mensaje{
        margin: 0.3rem;
        padding: 0.5rem;
    }
}